<h1>My skills & offer</h1>
<p>I'm a junior web developer with 2 years of experience in digital advertising.</p>

<p>I'm a proactive, self-motivated learner. I've been teaching myself to program for a year and I've just finished a 3 month web development course at <%= link_to 'General Assembly', 'https://www.generalassemb.ly/', class: 'general-assembly' %> where I lived and breathed code.</p>

<div class="technologies">
  <div class="front-end-languages">
    <h2>Front-End Languages</h2>
    <div class="icons">
      <%= image_tag 'icons/javascript.svg' %>
      <%= image_tag 'icons/coffeescript.svg' %>
      <%= image_tag 'icons/html.svg' %>
      <%= image_tag 'icons/css.svg' %>
    </div>
  </div>
  <div class="server-side-languages">
    <h2>Server-Side Languages</h2>
    <div class="icons">
      <%= image_tag 'icons/ruby.svg' %>
      <%= image_tag 'icons/node.svg' %>
      <%= image_tag 'icons/python.svg' %>
      <%= image_tag 'icons/java.svg' %>
    </div>
  </div>
  <div class="frameworks">
    <h2>Web Frameworks</h2>
    <div class="icons">
      <%= image_tag 'icons/meteor.svg' %>
      <%= image_tag 'icons/express.svg' %>
      <%= image_tag 'icons/rails.svg' %>
      <%= image_tag 'icons/react.svg' %>
      <%= image_tag 'icons/vue.svg' %>
    </div>
  </div>
  <div class="libraries">
    <h2>Libraries</h2>
    <div class="icons">
      <%= image_tag 'icons/jquery.svg' %>
      <%= image_tag 'icons/bootstrap.svg' %>
    </div>
  </div>
  <div class="version-control">
    <h2>Version Control</h2>
    <div class="icons">
      <%= image_tag 'icons/git.svg' %>
    </div>
  </div>
  <div class="cloud-platform">
    <h2>Cloud Platform</h2>
    <div class="icons">
      <%= image_tag 'icons/heroku.svg' %>
    </div>
  </div>
</div>

<p>I'm interested in exploring new technologies because I think learning new concepts help us better understand the things we're already familiar with.</p>

<p>I'm currently looking for a role in an organisation that's working solving interesting problems.</p>
