<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <nav>
        <a href="/">
          <figure>
            <%= image_tag 'profile-picture.png' %>
            <figcaption>
              <h1 class="title">Justin Gan</h1>
              <h2 class="subtitle">Junior Web Developer</h2>
            </figcaption>
          </figure>
        </a>

        <div class="links">
          <%= link_to 'About Me', about_path, class: ( action_name == 'about' ? 'current' : '' ) %>
          <%= link_to 'Projects', portfolio_path, class: ( action_name == 'portfolio' ? 'current' : '' ) %>
          <%= link_to 'Contact', contact_path, class: ( action_name == 'contact' ? 'current' : '' ) %>
        </div>
      </nav>

      <main class="<%= controller_name %> <%= action_name %>">
        <%= yield %>
      </main>

      <footer></footer>

    </div>

  </body>
</html>
