<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justin Gan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container<%= ' home' if action_name == 'home' %>">

      <nav class="<%= 'home' if action_name == 'home' %>">
        <a href="/">
          <figure>
            <%= image_tag 'profile-picture.png' %>
            <figcaption>
              <h1 class="title">Justin Gan</h1>
              <h2 class="subtitle">Junior Web Developer</h2>
            </figcaption>
          </figure>
        </a>

        <div class="navigation-extendable">

          <div class="navigation-extend-bar">
            <div class="social">
              <div class="icons">
                <%= mail_to 'justinsgan@gmail.com' do %>
                  <i class="fa fa-envelope"></i>
                <% end %>
                <%= link_to 'https://github.com/Jgan91/', target: '_blank' do %>
                  <i class="fa fa-github-square"></i>
                <% end %>
                <%= link_to 'https://www.linkedin.com/in/justinsgan/', target: '_blank' do %>
                  <i class="fa fa-linkedin-square"></i>
                <% end %>
              </div>
            </div>
            <%= link_to '#', class: 'navigation-extend-button js-extend-main-navigation' do %>
            <i class="fa fa-bars"></i>
            <% end %>
          </div>

          <div class="links extension">
            <%= link_to 'My Skills & Offer', skills_path, class: ( action_name == 'skills' ? 'current' : '' ) %>
            <%= link_to 'Projects', portfolio_path, class: ( action_name == 'portfolio' ? 'current' : '' ) %>
            <%= link_to 'Contact', contact_path, class: ( action_name == 'contact' ? 'current' : '' ) %>

            <%= link_to 'About Me', about_path, class: ( action_name == 'about' ? 'current' : '' ) %>
          </div>

        </div>

        <div class="social">
          <p>Get in touch</p>
          <div class="icons">
            <%= mail_to 'justinsgan@gmail.com' do %>
              <i class="fa fa-envelope"></i>
            <% end %>
            <%= link_to 'https://github.com/Jgan91/', target: '_blank' do %>
              <i class="fa fa-github-square"></i>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/justinsgan/', target: '_blank' do %>
              <i class="fa fa-linkedin-square"></i>
            <% end %>
          </div>
        </div>
      </nav>

      <main class="<%= controller_name %> <%= action_name %>">
        <%= yield %>
      </main>

      <footer></footer>

    </div>

  </body>
</html>
